@charset 'utf-8';

*{
	padding:0;
	margin:0;
}
ul,ol,li {
list-style-type:none;
}

a {
text-decoration:none;
}

.center{
	margin:0 auto;
}






div.openshow{
	position:relative;
	overflow:hidden;
}
div.openshow>img{
	opacity: 1;
}
div.openword{
	position:absolute;
	left:300px;
	top:100px;
	overflow:hidden;
	height:10px;
}
div.openword>p{
	color: #fff;
	font-family: "华文行楷";
	font-size: 40px;
}
div.openword>h2{
	margin-left:400px;
	color: #fff;
	font-family: "微软雅黑";
	cursor:pointer;
}
div.content{
	display:none;
	position:relative;
}
div.message{
	width:100%;
	height:60px;
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}
div.mes_bg{
	background: black;
	width:100%;
	height:100%;
	opacity: 0.3;
}
li.isay{
	position:absolute;
	left:50px;
	top:0;
	height:60px;
	width:200px;
	text-align: center;
	line-height: 60px;
	color:#fff;
}
li.isay>div.int{
	position:absolute;
	top:60px;
	left:0px;
	background:#ddd;
	opacity:0.4;
	border-radius: 2px;
	color:#6f00c7;
	font-family: "华文行楷";
	font-size: 20px;
	display: none;
}
li.timer{
	position:absolute;
	right:100px;
	top:0;
	height:60px;
	text-align: center;
	line-height: 60px;
	color:#fff;
}


div.storypage{
	position:relative;
	overflow:hidden;
	display:none;
}

li.timer>span{
	color:orange;
}

.touched{
	background:#DEDEDE;
	opacity: 0.5;
	color:black;
}

/* page0 */
div.word0{
	position:absolute;
	left:30%;
	top:10%;
}
p.btn_jump{
	position:absolute;
	right:10%;
	bottom:10%;
	color: #ddd;
	font-family: "华文行楷";
	font-size: 30px;	
}
p.btn_jump:hover,p.btn_left:hover,p.btn_down:hover,th.buy:hover,td.plus:hover,td.minus:hover,p.btn_go:hover,p.btn_go1:hover,p.btn_end:hover{
	color:#b61b1f;
	cursor: pointer;
}
div.word0>li>p{
	color: #eee;
	font-family: "华文行楷";
	font-size: 30px;
	height:50px;
	line-height:50px;
}
div.word0>li{
	width:0;
	overflow:hidden;
}
div.word0>img{
	width:100px;
	position:absolute;
	left:0px;
	top:-70px;
}

/* page1 */
div.glass_all{
	width:400px;
	height:400px;
	position:absolute;
	left:60%;
	top:200px;
	overflow:hidden;
}
div.small{
	width:400px;
	height:400px;
}
div.small>img{
	width:400px;
	height:400px;

}

div.big{
	width:100px;
	height:100px;
	border-radius: 50px;
	overflow:hidden;
	display:none;
	border:1px solid black;
	position:absolute;
	left:0;
	top:0;
}
div.big>img{
	width:800px;
	height:800px;
}

p.word1{
	position:absolute;
	left:10%;
	top:30%;
	color: #eee;
	font-family: "华文行楷";
	font-size: 30px;
	height:40px;
	line-height:40px;
	display:none;
}

p.btn_left,p.btn_down,p.btn_end{
	position:absolute;
	left:10%;
	top:80%;
	color: #eee;
	font-family: "华文行楷";
	font-size: 30px;
}

/* page2 */
div.word2{
	position:absolute;
	left:60%;
	top:30%;
	color: #eee;
	font-family: "华文行楷";
	font-size: 30px;
	height:40px;
	line-height:40px;
}
div.word2 span{
	font-family: "微软雅黑";
	font-size: 12px;	
}

/* 表格 */
div.page2 table{
	position:absolute;
	left:5%;
	top:20%;
	text-align: center;
	color:#eee;

}
div.page2 table th{
	width:100px;
	height:40px;
}
div.page2 table td{
	height:30px;
}

p.buyed{
	position:absolute;
	left:10%;
	top:40%;
	text-align: center;
	color:#eee;
	display:none;
}
p.buyed>span{
	color:#b61b1f;
}

/* page3 */
div.page3>ul{
	position:absolute;
	left:10%;
	top:15%;
	color: #eee;
	font-family: "华文行楷";
	font-size: 10px;
	height:40px;
	line-height:40px;
}
div.page3>ul>li{
	display:none;
}
p.btn_go{
	position:absolute;
	right:30%;
	top:40%;
	color: #eee;
	font-family: "华文行楷";
	font-size: 30px;
/*	display:none; */
}

/* page4 */
div.page4,div.page_end{
	background:black;
}
div.showp1{
	width:70%;
	height:600px;
	position: absolute;
	left:30%;
	top:10%;
	overflow:hidden;
}
div.showp1 img{
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}
div.showw1{
	position:absolute;
	left:10%;
	top:40%;
	color: #fff;
	font-family: "华文行楷";
	font-size: 40px;
}
div.showw1>p{
	display:none;
}

div.showp2{
	width:70%;
	height:600px;
	position: absolute;
	right:30%;
	top:10%;
	overflow:hidden;
}
div.showp2 img{
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}
div.showw2{
	position:absolute;
	right:10%;
	top:40%;
	color: #fff;
	font-family: "华文行楷";
	font-size: 40px;
}
div.showw2>p{
	display:none;
}
div.show3{
	position:absolute;
	left:20%;
	top:30%;
	color: #fff;
	font-family: "华文行楷";
	font-size: 30px;
	display:none;
}
p.btn_go1{
	position:absolute;
	right:20%;
	bottom:20%;
	color: #eee;
	font-family: "华文行楷";
	font-size: 30px;
}

/* page5 */
div.cont1,div.cont2{
	position:absolute;
	left:30%;
	top:25%;
	display:none;
	color: #eee;
	font-family: "华文行楷";
	font-size: 30px;
}

/* page_end */
div.page_end>p{
	position: absolute;
	left:10%;
	top:48%;
	color: #fff;
	font-family: "华文行楷";
	font-size: 50px;
}
div.page_end>div{
	position: absolute;
	left:50%;
	top:200px;
	overflow:hidden;
	color: #fff;
	font-family: "楷体";
	font-size: 30px;
	line-height: 50px;
	width:40%;
	height:300px;
}
div.page_end>div>ul{
	position: absolute;
	left:50%;
	top:300px;
}
/* btn */
p.btn_jump,p.btn_left,p.btn_down,p.btn_go,p.btn_go1,p.btn_end{
	display:none;
}
#top_1{position:fixed; top:0; left:40%; width:100%; height:20px; z-index: 99; }